<h1>Cadastrar time</h1>
<form action="/times" method="POST">
    <div class="form-group">
        <label for="nome">Nome do time</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
