<h1>Editar time</h1>
<form action="/times/<%= time.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nome">Time</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= time.nome %>" required>
    </div>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>
